* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'EB Garamond', serif;
}
.padding-none{
	padding: 0;
}
.container-fluid{
	max-width: 100%;
	padding: 0;
}
.header{
	width: 100%;
	background: #fff;
	position: fixed;
	z-index: 9999;

}
.header-container{
	max-width: 1200px;
	margin: 0 auto;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.header-logo{
	font-size: 22pt;
	letter-spacing: 10px;
}
.menu{
	display: flex;
	justify-content: flex-end;
	list-style: none;
	margin-bottom: 0;
}

.menu-item:not(:last-child){
	margin-right: 60px;
}
.menu-item__link:hover{
	color: #8B98A7;
	text-decoration: none;
}
.menu-item__link{
	text-decoration: none;
	font-size: 14pt;
	color: #303131;
}

.button-hidden{
	display: none;
}
.button-hidden__img{
	width: 42px;
	padding: 8px;
	border: 1px solid #BCBCBC;
	border-radius: 5px;
	float:right;
	margin-right: 15px;
}
@media screen and (max-width: 640px) {
	.header{
		position: relative;
	}
	.button-hidden {
		display: inline-block;
	}
	.header-menu{
		display: none;
	}
	.header-logo{
		margin-left: 15px;
	}
	.menu{
		display: inline;
		margin-bottom: 50px;
	}
	.menu-item{
		text-align: center;
	}
	.menu-item:not(:last-child) {
		margin-right: 0px;
		margin-bottom: 30px;
	}
	.main-container{
		max-height: 500px;
	}
}
/* <!-- Main -->> */
.main{
	width: 100%;
}
.main-container{
	max-width: 1200px;
	height: 800px;
	margin: 0 auto;
}
.main-banner{
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background: linear-gradient(
			rgba(49,61,72,0.4),
			rgba(49,61,72,0.4)
	), url(../image/brooke-lark-158019.jpg) no-repeat center / cover;
	align-items: center;
	display: flex;
}

.main-description{
	color: #fff;
	margin: 0 auto;
	text-align: center;
}
.main-description__name{
	font-family: 'Cinzel', serif;
	font-size: 4.0em;
	font-weight: lighter;
	text-shadow: 1px 1px black;
}
@media screen and (max-width: 50em) {
	.main-description__name {
		font-size: 2em;
	}
}
.main-description__text{
	font-size: 18pt;
	font-weight: lighter;
	letter-spacing: 13px;
	margin-bottom: 25px;
	font-family: 'Didact Gothic', sans-serif;
}
.main-description__button{
	border: 1px solid #fff;
	width: 145px;
	height: 45px;
	margin: 0 auto;
	align-items: center;
	display: flex;
}
.main-description__button-link{
	text-decoration: none;
	color: #fff;
	font-size: 14pt;
	width: 100%;
	font-family: 'Didact Gothic', sans-serif;
}
.main-description__button:hover{
	background: #273A4E;
	border: 1px solid #273A4E;
	transition: all 0.3s ease;
}
.menu-hidden{
	display: none;
}
/* <<---Footer--->> */
.footer{
	width: 100%;
}
.footer-container{
	max-width: 1200px;
	height: 100px;
	display: flex;
	align-items: center;
	margin: 0 auto;
}
.footer-social{
	margin: 0 auto;
}
.social{
	display: flex;
	list-style: none;
}
.social__item:not(:last-child){
	margin-right: 30px;
}
/* <<-------- main portfolio ------->> */
.main__portfolio{
	margin: 0 auto;
	padding: 0 80px;
}
.portfolio__menu{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	list-style: none;
	margin: 0 auto;


}
.portfolio_menu__item{
	width: 100%;
	height: 900px;
	background: #ccc;
	text-align: center;

}
.bg_editorial{
	background-image: url(../image/editorial_01.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.bg_foodserve{
	background-image: url(../image/FOOD&SERVE.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.bg_bakedgoods{
	background-image: url(../image/BAKED_GOODS.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.portfolio_menu__item:not(:last-child){
	margin-right: 10px;
}
.portfolio_menu__title{
	font-family: 'Cinzel', serif;
	font-size: 32pt;
	padding-top: 70px;
	margin-bottom: 30px;
	color: #fff;
	font-weight: lighter;
	text-shadow: 1px 1px black;
}
.portfolio__background{
	width: 100%;
	height: 100%;
	/* background: rgba(159,198,232,0.2); */
	background: rgba(49,61,72,0.4);
}
/* <<--------------EDITORIAL-PAGE-------------->> */
.main__editorial{
	margin: 0 auto;
	padding: 0 80px;
}
.nav_backAndTitel{
	align-items: center;
	display: flex;
	margin: 70px auto;
	width: 100%;
}
.back_page{
	font-size: 16pt;
	width: 20%;
	text-decoration: none;
	margin-left: 100px;
}
.editorial__title{
	font-family: 'Cinzel', serif;
	font-size: 42pt;
	color: black;
	font-weight: lighter;
	text-align: center;
	text-transform: uppercase;
	margin-left: 100px;
}
.gallery__img{
	width: 100%;
	margin: 0 auto;
	
}
.img_row__towItem{
	display: flex;
}
.img_row__oneItem{
	margin-top: 10px;
}
.img__item{
	width: 100%;
	height: 410px;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: flex-end;
	position: relative;
	z-index: 0;
}
.container_item__bg{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.0);
}
.menu_social{
	display: flex;
	list-style: none;
	opacity: 0;
}
.menu_social__item:not(:last-child){
	margin-right: 30px;
}

.menu_social__link{}
.menu_social__img{}

.img__item:not(:last-child){
	margin-right: 10px;
}
.img_link__like{
	position: absolute;
	left: 25px;
	bottom: 0px;
	visibility: hidden;
	opacity: 0;
}
.img_link__repost{
	text-align: right;
	position: absolute;
	right: 25px;
	bottom: 0px;
	visibility: hidden;
	opacity: 0;
}
